/**
 * colors from https://coolors.co/fcdebe-d4d2a5-928779-5e5768-3a445d
 */

html {
    /* border-box: calculate the complete element */
    /*box-sizing: border-box;*/
}

/*
* {
    box-sizing: inherit;
}
*/

body {
    padding: 0;
    margin: 0;

    background: #d4d2a5;
}

/*
 * header-section
 */
nav {
    text-align: center;

    background: #fcdebe;
}

/* header link list*/
nav ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

/* header link*/
nav ul a {
    display: block;

    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    border-bottom: solid 1px;
}

nav ul a.active {
    font-weight: bold;
    background: #d4d2a5;
    color: white;
}

/*
 * content-section
*/
#content {
    padding: 10px;
}

#content h1:first-child{
    margin-top: 0;
}

/*
 * sidebar-section
 */
aside {
    padding: 10px;

    background: #928779;
}

aside section{
    margin-bottom: 15px;
}

aside .title{
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 23px;
}

aside ul{
    margin: 0.5em 0;
}

/*
 * footer-section
*/
footer {
    padding: 15px;

    color: #ffffff;
    background: #5e5768;

    text-align: center;
}

/* footer copyright */
footer p {
    margin-top: 0;
}

/* footer link list*/
footer ul {
    padding-left: 0;
    list-style-type: none;
}

/* footer links*/
footer a {
    color: #ffffff;
    text-decoration: none;
}

main,
aside {
    margin: 0;
    /*padding: 15px;*/
}

/*
 * desktop view
 */
@media screen and (min-width: 768px) {

    /* elements aside*/
    body {
        display: flex;
        flex: row;
    }

    main {
        max-width: 70%;
    }
}
/* end desktop view */